{% load static %}
<!DOCTYPE html>
<html>
  <head>
        <meta http-equiv="content-type" content="text/html; charset="UTF-8">
        <title>Add User</title>
        <link rel="stylesheet" href="{% static 'inc/Style_2.css' %}" type="text/css">
  </head>
  <body>
      <div id="container">
            <div id="header">
                <h1> Text Analysis System </h1></div>
            <div id="content">
                <h2>Add User</h2>
                <form method="POST" action="/usermanage/adduser">
                    {% csrf_token %}
                    <table border="0" cellpadding="0" cellspacing="0" style="position:absolute;display:none;z-index:2000;">
                    <tr>
                    <td colspan="2" style="float:left;font-size: 12px;">&nbsp;</td>
                    <td align="right"><img src="{% static 'images/close3.gif' %}" style="cursor:pointer" width="20" height="20" onClick="disdivbox();" >&nbsp;</td>
                    </tr>
                    <tr>
                    <td width="1057" colspan="3" > <iframe src='' id="contentframes" name="contentframes" frameborder='0'></iframe></td>
                    </tr>
                    </table>
                    <table id="users">
                        <tbody>
                        <tr>
                        <td  style="width: 21.8px;" class="adduser">Add Username:</td>
                        <td width="80%"><input name="addusername" type="text" id="addusername" placeholder="username"  value="" required></td>
                        </tr>
                        <tr>
                        <td  style="width: 21.8px; background-color: #aecadc; text-align: right; color: dimgray;" class="addpwd">Add Password:</td>
                        <td width="80%"><input name="addpassword" type="password" id="addpassword" placeholder="password"  value="" required>&nbsp;<input style="cursor:pointer;" name="button2" type="submit" id="button2" value="Submit" class="submit"> </td>
                        </tr>
                        </tbody>


                    </table>

            </form><br>

        </div>
      </div>
    </body>
</html>



