<!DOCTYPE html>
<html>

   <head>
      <title>{{ userid }}</title>
   </head>
    <frameset cols="15%,85%">
	   	<frame name = "left" src = "/usermanage/index/{{ userid }}" />
        <frame name = "main" src = "/usermanage/usermanage" />
   </frameset>
      <noframes>
         <body>Your browser does not support frames.</body>
      </noframes>


</html>

<!DOCTYPE html>
<html>

   <head>
      <title>Main Interface</title>
   </head>
    <frameset cols="15%,85%">
	   	<frame name = "left" src = "/usermanage/sideuser" />
        <frame name = "main" src = "/TextManage/TextManage/1" />
   </frameset>
      <noframes>
         <body>Your browser does not support frames.</body>
      </noframes>


</html>