{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'inc/Style_2.css' %}" type="text/css">
  </head>
  <body>
    <div>
<!--      <div>-->
<!--        <h2>Welcome, {{username|title}}!</h2>-->
<!--      </div>-->
    </div>
    <table class="indextab" >
              <tbody>
                <tr>
                  <td >
                    <form action="/TextManage/TextManage/{{userid}}" target="main">
                      {% csrf_token %}
                      <button style="cursor:pointer;" name="Submit" type="submit" formmethod="post" class="button_tm">Text Management</button></form>
                  </td></tr>
                <tr>
                  <td >
                    <form action="/TextAnalysis/abc" target="main">
                      {% csrf_token %}
                      <button style="cursor:pointer;" name="Submit" type="submit" formmethod="post" class="button_ta">Text Analysis</button></form>
                    </td>
                </tr>
                <tr>
                <td colspan="2" >
                    <form action="/usermanage/index" target="_blank">
                      {% csrf_token %}
                      <button style="cursor:pointer;" name="Submit" type="submit" formmethod="post" class="logout">Logout</button></form>
                </td>
                </tr>
              </tbody>
            </table>

    </body>
</html>
