{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset="UTF-8">
    <title>User Management</title>
    <link rel="stylesheet" href="{% static 'inc/Style_2.css' %}" type="text/css">
    <script src="{% static 'inc/Function.js' %}" type="text/javascript">
    </script>

</head>
  <body>
      <div id="container">
            <div id="header">
                <h1> Text Analysis System: User Management</h1></div>
            <div id="content">
                <table id="users">

                <tr>
                <td colspan="4"><button type="Submit" style="cursor:pointer;" name="Submit" value="Submit" onClick="addConfirm()" class="useradd">Add User</button></td>
                </tr>
                <tr>
                <th style="width:15%">USER ID</th>
                <th style="width:25%">User Name</th>
                <th style="width:35%">Date & Time of Creation</th>
		        <th style="width:25%">Actions</th>
                </tr>
	{% for i in all_users %}
                <tr>
                <td >{{i.userid}}</td>
                <td >{{i.username}}</td>
                <td >{{i.usercreatetime}}</td>
                    <td>&nbsp;<button style="cursor:pointer;" onClick="editConfirm()" class="edituser">Edit User</button><form action="/usermanage/delete/{{ i.userid }}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button type="submit" style="cursor:move;" value="Delete User" name="submit" class="deleteuser">Delete User</button>&nbsp;
                        </form>

		        </td>
                </tr>
                {% endfor %}

                </table>


        </div>
      </div>
    </body>
</html>

