{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="{% static 'inc/style.css' %}" type="text/css">
    <script type="text/javascript">
        function F_Open_dialog()
        {
            document.getElementById("btn_file").click();
        }
    </script>


</head>
<body>

<header>
    <table border="1px" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" background="{% static 'images/top.jpg' %}">
                <p>
                <h1>TextManage</h1>
                </p>
            </td>
        </tr>
    </table>


</header>



<table border="1px" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" background="{% static 'images/logintop.jpg' %}">choose:</td>

        <td align="center" background="{% static 'images/logintop.jpg' %}">
            <form action="/TextManage/upload/{{userid}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <input type="file" name="f1" id="btn_file" style="cursor:pointer">
    <button class="btnQQ" >submit</button>

                </form>
        </td>
    </tr>
</table>






<aside align="right">
    <table>
        <section>
            <table border="1px" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td bgcolor="#87cefa" align="center">upload time</td>
                    <td bgcolor="#87cefa" align="center">user name</td>
                    <td bgcolor="#87cefa" align="center">passage type</td>
                    <td bgcolor="#87cefa" align="center">passage name</td>
                    <td bgcolor="#87cefa" align="center">operation</td>
                </tr>

                 {% for i in all_textmanages %}
                <tr>
                    <td align="center">{{ i.updatetime }}</td>
                    <td align="center">{{ i.userid }}</td>
                    <td align="center">{{ i.ptype }}</td>
                    <td align="center">{{ i.pname }}</td>
                    <td>
                        <table border="0" width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" >
                                    <form action="/TextManage/delete/{{ i.ttextmanageid }}" method="post" enctype="multipart/form-data">
                                      <input type="submit" value="delete" name="submit"id="delete" class="btnQQ" >
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}


            </table>
        </section>
    </table>
</aside>






</body>
</html>