<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset="UTF-8">
    <title>Reset</title>
      <link rel="stylesheet" href="../../Static/inc/Style_2.css" type="text/css">

  </head>
  <body>
      <div id="container">
            <div id="header">
                <h1> Text Analysis System </h1></div>
            <div id="content">
                <h2>Reset Password</h2>
                <form action="Login.html" target="_blank">
                <table id="users">
                    <tbody>
                    <tr>
                    <td style="width: 21.8px;" class="username" >Username:</td>
                    <td style="width: 287.2px;"><input name="username" type="text" placeholder="username"><br>
                    </td>
                    </tr>
                    <tr>
                    <td class="email">Email:</td>
                    <td><input name="Email" type="email" placeholder="email@abc.com"><br>
                    </td>
                    </tr>
                    <tr>
                    <td class="dob">DOB:</td>
                    <td><input name="Email" type="email" placeholder="mm/dd/yyyy"><br>
                    </td>
                    </tr>
                    <tr>
                    <td colspan="2" align="center"><button name="Reset" type="reset" formmethod="post" class="reset">Reset</button></td>
                    </tr>
                    <tr>
                    <td colspan="2" align="center"><button name="Return" type="submit" formmethod="post" class="return">Return to Login page</button></td>

                    </tr>
                    <tr>
                    <td colspan="2" align="center" class="link">Please check your email for the password reset link</td>
                    </tr>
                </tbody>
                </table>
                </form><br>

        </div>
      </div>
    </body>
</html>





