.block1 {
  display: block;
  width: 100%;
  border: none;
  background-color: #FFA07A;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.block2 {
  display: block;
  width: 100%;
  border: none;
  background-color: #808000;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.block3 {
  display: block;
  width: 100%;
  border: none;
  background-color: #87CEFA;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.block4 {
  display: block;
  width: 100%;
  border: none;
  background-color: #778899;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.one {
     background: darkgrey;
     text-align: center;
     margin-bottom: 30px;
   }
   .block5 {
  display: block;
  width: 10%;
  border: none;
  background-color: #708090;
  color: white;
  padding: 1px 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.block6 {
  display: block;
  width: 70%;
  border: none;
  background-color: #696969;
  color: white;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.block7 {
  display: block;
  width: 70%;
  border: none;
  background-color: #778899;
  color: white;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.block8 {
  display: block;
  width: 50%;
  border: none;
  background-color: #778899;
  color: white;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
    body {
        background: #C0C0C0;
        }
   table {
     width: 100%;


   }

   th {
     background: gray;
   }


   table, th, td, tr{

     border: 1px solid black;
   }

   td {
     text-align: center;
   }
   .indextab {
   width: 100%;
   border: none;
   }
   .indextd {
   align: center;
   height: 50%;
   }
.logintab {
width: 100%;
border: none;
}
.logintd {
backgroound: #E8EFF;
}

.tabtd {
background: #D7E9EC;
aligh:right;
}

.block-title{
	color: #083772;
	font-weight: bold;
	padding: 2px;
	padding-left: 4px;
}
.block-body{
	padding:4px;
	padding-top:2px;
}
